/* 
THEME COLOR CODES: 


*/ 


/* UNIVERSAL CSS */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    padding: 30px;
    font-family: Quicksand, serif;
}

/* 
HEADER CSS 
*/ 

.header {
    height: 95vh;
    position: relative;
    background-image: linear-gradient(to right bottom
    ,hsla(194, 100%, 50%, 0.78), 
    hsla(212, 98%, 33%, 0.78)),
     url(../images/max.jpg);
     background-size: cover;
     background-position: top;
     clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 88%, 70% 100%, 30% 100%, 0 86%, 0% 30%);
}
.header-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-heading{
    display: block;
    color: white;
    font-family: Oswald, serif;
    font-size: 150px;
    letter-spacing: 15px;
    text-transform: uppercase;
    animation-name: moveInLeft;
    animation-duration: 1s;
}
.header-sub{
    position: absolute;
    display: block;
    color:white;
    animation-name: moveInRight;
    animation-duration: 1s;
    transform: translateX(75%)
    
    
}

@keyframes moveInLeft { 
    0% {
    opacity: 0;
    transform: translateX(-100px)
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(400px)
    }
    100% {
        opacity: 1;
        transform: translate(75%);
    }
}

/* BLOCK 1 CSS */

.block-1{
    color:black;
    font-size: 60%;
    transform: translateX(35%)
}
.block-1-heading{
    padding-top: 10px;
    position: absolute;
    color:black;
    font-family: Oswald;
    font-size: 40px;
    text-transform: uppercase;
    
}
